body{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
hr{
    width: 400px;

}#board{
    height: 200px;
    width: 200px;

    background-color:#cdc1b5;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    border: 6px solid #bbada0;
}
.tile{
    width: 45px;
    height: 45px;

    border: 2.5px solid #bbada0;
    font-size: 20px;
    font-weight: bold;

    display: flex;
    justify-content: center;
    align-items: center;

}.x2{
    background-color: #eee4ee;
    color: #737271;

}.x4{
     background-color: #eee4ee;
    color: #737271;

}.x8{
    background-color: #f4b17a;
    color: white;

}.x16 {
    background-color: #f79663;
    color: white;
}

.x32 {
    background-color: #f77c5f;
    color: white;
}

.x64 {
    background-color: #f75f3b;
    color: white;
}

.x128 {
    background-color: #edd073;
    color: white;
}

.x256 {
    background-color: #edcc62;
    color: white;
}

.x512 {
    background-color: #edc950;
    color: white;
}

.x1024 {
    background-color: #edc53f;
    color: white;
}

.x2048 {
    background-color: #edc22e;
    color: white;

}.x4096 {
    background-color: #edc22e;
    color: white;
}

.x8192 {
    background-color: #edc22e;
    color: white;
}
